:root
{
    --widthML: 350px;
    --widthMR: 50px;
    --widthMB: 80px;
}

main
{
    margin-left: var(--widthML);
    margin-right: var(--widthMR);
    margin-bottom: var(--widthMB);
}

a
{
    color: black;
    text-decoration: none;
    transition: 1s linear; 
}
a:hover
{
    color: #B17457;
}
h3
{
    font-size: 50px;
    font-weight: 600;
    scroll-margin: 20px;
}
h3 ~ h4
{
    font-size: 40px;
    margin-left: 30px;
    margin-top: 30px;
}
div p
{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 34px;
}
div ul li
{
    list-style-type: disc;
    list-style-position: inside;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 34px;
}
.container 
{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.aside-list
{
    display: block;
    background-color: #D8D2C2;
    width: 300px;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}
.label-FAQ
{
    font-size: 200%;
    height: 65px;
    line-height: 65px;
    text-align: center;
    cursor: pointer;
    border-bottom: 2px dashed #0F2C59;
}
.list-themes-container
{
    padding-left: 10px;
    overflow-y: hidden;
}
.list-to
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: decimal;
    list-style-position: inside;
    font-size: 18px;
    padding-right: 5px;
    margin-top: 30px;
}
.list-to > li > ol
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: decimal;
    list-style-position: inside;
    font-size: 18px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.section
{
    margin-top: 100px;
}
#download-link
{
    color: #0F2C59;
    font-weight: bolder;
    text-decoration: underline;
}
